--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pandas
google-api-python-client
python-dotenv
streamlit-autorefresh
wordcloud
matplotlib
transformers==4.39.0
torch==2.0.1+cpu
sentencepiece
safetensors